#recipe-view
  #recipe-title= recipe.title
  #recipe-subtitle= recipe.author
  #recipes-swipe
    img#arrow-back.arrow(src='images/left_arrow.png', alt='Food')
    #image-back.recipe-preview
      img.recipe-picture(src='', alt='Food')
    #image-actual.recipe-preview
      img.recipe-picture(src=recipe.image, alt='Food')
    #image-next.recipe-preview
      img.recipe-picture(src='', alt='Food')
    img#arrow-next.arrow(src='images/right_arrow.png', alt='Food')
  #recipe-text
    #recipe-ingredients
      b Ingredients
      br
      span#ingredients
        ul
          each ingredient in recipe.ingredients
            li= ingredient.quantity + ' ' + ingredient.name

    #recipe-preparation
      b Preparation
      br
      span#preparation
      p= recipe.instructions
  #my-comment
    textarea(rows='4', cols='50', id='comment')
    button(type='button',r id='submit-comment') Submit
  #recipe-comments
    each comment in recipe.comments
      .recipe-comments-element
        span.comment-text= comment
